body{
    background-color: antiquewhite;
}

.form-wrapper{
    margin-top: 100px;
    text-align: center;
    float: none;
    margin-left: 25%;
    margin-right: 25%;
    background-color: bisque;
    border: solid 2px black;
    /* display: inline; */
}

form{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}