body{
    background-color: rgb(240, 181, 125);
    overflow-x: hidden;
}

.row{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

#do{
    background-color: rgb(39, 173, 39);
    text-align: center;
}

#dont{
    background-color: rgb(201, 50, 30);
    text-align: center;
}

#carouselExampleIndicators{
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    height: auto;
}

.footer{
    padding-top: 20px;
    position: absolute;
    width: 100%;
    background-color:rgb(11, 121, 26);
    color:black;
    text-align: center;
}

.row{
   padding-bottom: 20px;
}

.inline{
    display: inline;
    color: black;
    font-weight: 500;
}

a:hover{
    text-decoration: none;
}

